* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, hsl(240, 73%, 65%),hsl(273, 75%, 66%)) no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  z-index: 1;
  padding: 8%;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 15% 3%;
  border-radius: 10px;
  filter: drop-shadow(0 1px 18px hsl(237, 12%, 33%));
}

.image {
  position: relative;
  width: 100%;
  top: 10%;
  left: -15%;
}

.box-image {
  width: 20%;
  position: absolute;
  top: 38%;
  left: -10%;
}

.item1 {
  background: url("../images/bg-pattern-desktop.svg") no-repeat;
  background-position: left -300px top -110px; 
  background-size: 600px;
  overflow: hidden;
}

.item2 {
  padding: 5% 15% 5% 0;
}

.item2 header {
  font-size: 6vh;
  margin: 10% 0;
  font-weight: 700;
}

details > summary {
  list-style: none;
  cursor: pointer;
  margin-bottom: 5%;
}

summary:hover {
  color: hsl(14, 88%, 65%);
}

hr {
  border: 1px solid hsl(240, 5%, 91%);
}

.item2 .arrow-img {
  position: relative;
  top: 15px;
  left: 90%;
  padding: 0 5%;
  cursor: pointer;
}

.rotated-img {
  transform: rotate(180deg);
}

.bold-text {
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media only screen and (max-width: 960px) {

  .grid-container {
    margin: 30% 10% 10% 10%;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }

  .image {
    width: 80%;
    margin: 0 20%;
    position: relative;
    top: -90%;
  }

  .item1 {
    background-position: left 85px top -330px;
    background-size: 75%;
    overflow: visible;
  }

  .box-image {
    visibility: hidden;
  }

  .item2 {
    margin: 0 10%;
    padding: 0;
     
  }

  .item2 header {
    text-align: center;
  }

}

@media only screen and (max-width: 615px) {

  .grid-container {
    margin: 40% 10% 10% 10%;
  }

  .image {
    position: relative;
    top: -80%;
  }

  .item1 {
    background-position: left 50px top -200px;
  }
}

@media only screen and (max-width: 470px) {

  .image {
    position: relative;
    top: -70%;
  }

  .item1 {
    background-position: left 40px top -150px;
  }
}

@media only screen and (max-width: 375px) {

  .image {
    position: relative;
    top: -65%;
  }

  .item1 {
    background-position: left 30px top -120px;
  }

  .item2 .arrow-img {
    position: relative;
    left: 100%;
    padding: 0 1%;
  }
}